examples/flows.json
[
    {
        "id": "475803a65c8333af",
        "type": "tab",
        "label": "Couchbase API Demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "498ae4f3aef3fabc",
        "type": "admin-rest-api",
        "z": "475803a65c8333af",
        "service": "2708c077f735ebf9",
        "method": "get_clusters",
        "get_cluster_cluster": "",
        "get_cluster_clusterType": "str",
        "get_nodes_cluster": "",
        "get_nodes_clusterType": "str",
        "get_node_cluster": "",
        "get_node_clusterType": "str",
        "get_node_node": "",
        "get_node_nodeType": "str",
        "get_prepared_name": "",
        "get_prepared_nameType": "str",
        "delete_prepared_name": "",
        "delete_prepared_nameType": "str",
        "get_active_request_request": "",
        "get_active_request_requestType": "str",
        "delete_active_request_request": "",
        "delete_active_request_requestType": "str",
        "get_completed_request_request": "",
        "get_completed_request_requestType": "str",
        "delete_completed_request_request": "",
        "delete_completed_request_requestType": "str",
        "get_stat_stat": "active_requests",
        "get_stat_statType": "str",
        "post_settings_settings": "",
        "post_settings_settingsType": "str",
        "name": "Cluster Admin API",
        "x": 650,
        "y": 120,
        "wires": [
            [
                "37e3144d52f13a33"
            ]
        ]
    },
    {
        "id": "00a9cf54f348c09e",
        "type": "analytics-administration-rest-apis",
        "z": "475803a65c8333af",
        "service": "6e06d30bf3a8eb0d",
        "method": "cluster_status",
        "cancel_request_clientContextId": "",
        "cancel_request_clientContextIdType": "str",
        "name": "Analytics Admin API",
        "x": 660,
        "y": 240,
        "wires": [
            [
                "b0351fa80322e26c"
            ]
        ]
    },
    {
        "id": "a614af4e01143868",
        "type": "analytics-configuration-rest-api",
        "z": "475803a65c8333af",
        "service": "46b2a904e0438830",
        "method": "get_service",
        "put_service_service": "",
        "put_service_serviceType": "str",
        "put_node_node": "",
        "put_node_nodeType": "str",
        "name": "Analytics Config API",
        "x": 660,
        "y": 360,
        "wires": [
            [
                "973df8685e4d87d4"
            ]
        ]
    },
    {
        "id": "3bc53d024113a9c2",
        "type": "analytics-library-rest-api",
        "z": "475803a65c8333af",
        "service": "532893adafd61cfe",
        "method": "get_collection",
        "post_library_data": "",
        "post_library_dataType": "str",
        "post_library_type": "python",
        "post_library_typeType": "str",
        "post_library_library": "",
        "post_library_libraryType": "str",
        "post_library_scope": "",
        "post_library_scopeType": "str",
        "delete_library_library": "",
        "delete_library_libraryType": "str",
        "delete_library_scope": "",
        "delete_library_scopeType": "str",
        "name": "Analytics Library API",
        "x": 660,
        "y": 480,
        "wires": [
            [
                "20621dfed18924ca"
            ]
        ]
    },
    {
        "id": "6423d3c3023ebf04",
        "type": "analytics-settings-rest-api",
        "z": "475803a65c8333af",
        "service": "760bb54ac0d91f4d",
        "method": "get_settings",
        "post_settings_numReplicas": "",
        "post_settings_numReplicasType": "str",
        "name": "Analytics Settings API",
        "x": 660,
        "y": 720,
        "wires": [
            [
                "83e725079fbf0f5f"
            ]
        ]
    },
    {
        "id": "02d7df7d8df94b5c",
        "type": "functions-rest-api",
        "z": "475803a65c8333af",
        "service": "dea597afa5226e1a",
        "method": "get_collection",
        "get_collection_bucket": "",
        "get_collection_bucketType": "str",
        "get_collection_scope": "",
        "get_collection_scopeType": "str",
        "get_library_library": "",
        "get_library_libraryType": "str",
        "get_library_bucket": "",
        "get_library_bucketType": "str",
        "get_library_scope": "",
        "get_library_scopeType": "str",
        "post_library_functions": "",
        "post_library_functionsType": "str",
        "post_library_library": "",
        "post_library_libraryType": "str",
        "post_library_bucket": "",
        "post_library_bucketType": "str",
        "post_library_scope": "",
        "post_library_scopeType": "str",
        "delete_library_library": "",
        "delete_library_libraryType": "str",
        "delete_library_bucket": "",
        "delete_library_bucketType": "str",
        "delete_library_scope": "",
        "delete_library_scopeType": "str",
        "name": "Functions API",
        "x": 640,
        "y": 840,
        "wires": [
            [
                "2e7a256ae56639bf"
            ]
        ]
    },
    {
        "id": "a4c57ce19f31a66b",
        "type": "index-statistics-rest-api",
        "z": "475803a65c8333af",
        "service": "a711146a5094a31d",
        "method": "get_node_stats",
        "get_node_stats_pretty": "",
        "get_node_stats_prettyType": "str",
        "get_node_stats_redact": "",
        "get_node_stats_redactType": "str",
        "get_node_stats_skipEmpty": "",
        "get_node_stats_skipEmptyType": "str",
        "get_keyspace_stats_keyspace": "",
        "get_keyspace_stats_keyspaceType": "str",
        "get_keyspace_stats_pretty": "",
        "get_keyspace_stats_prettyType": "str",
        "get_keyspace_stats_redact": "",
        "get_keyspace_stats_redactType": "str",
        "get_keyspace_stats_skipEmpty": "",
        "get_keyspace_stats_skipEmptyType": "str",
        "get_index_stats_keyspace": "",
        "get_index_stats_keyspaceType": "str",
        "get_index_stats_index": "",
        "get_index_stats_indexType": "str",
        "get_index_stats_pretty": "",
        "get_index_stats_prettyType": "str",
        "get_index_stats_partition": "",
        "get_index_stats_partitionType": "str",
        "get_index_stats_redact": "",
        "get_index_stats_redactType": "str",
        "get_index_stats_skipEmpty": "",
        "get_index_stats_skipEmptyType": "str",
        "name": "Index API",
        "x": 620,
        "y": 960,
        "wires": [
            [
                "c0d6aeae1e491dae"
            ]
        ]
    },
    {
        "id": "3d8882875b7760f7",
        "type": "query-settings-rest-api",
        "z": "475803a65c8333af",
        "service": "ea6372ef830af581",
        "method": "get_settings",
        "post_settings_settings": "",
        "post_settings_settingsType": "str",
        "post_access_settings": "",
        "post_access_settingsType": "str",
        "name": "Query Settings API",
        "x": 650,
        "y": 1200,
        "wires": [
            [
                "675b6faabd79cd17"
            ]
        ]
    },
    {
        "id": "2956a6d580cb271d",
        "type": "inject",
        "z": "475803a65c8333af",
        "name": "request",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "498ae4f3aef3fabc"
            ]
        ]
    },
    {
        "id": "37e3144d52f13a33",
        "type": "debug",
        "z": "475803a65c8333af",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 120,
        "wires": []
    },
    {
        "id": "cf73c9d245bee83a",
        "type": "inject",
        "z": "475803a65c8333af",
        "name": "request",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "00a9cf54f348c09e"
            ]
        ]
    },
    {
        "id": "b0351fa80322e26c",
        "type": "debug",
        "z": "475803a65c8333af",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 240,
        "wires": []
    },
    {
        "id": "42e724e4eb0469a2",
        "type": "debug",
        "z": "475803a65c8333af",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ca6be27e0de8610c",
        "type": "inject",
        "z": "475803a65c8333af",
        "name": "request",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "a614af4e01143868"
            ]
        ]
    },
    {
        "id": "973df8685e4d87d4",
        "type": "debug",
        "z": "475803a65c8333af",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 360,
        "wires": []
    },
    {
        "id": "e76f8ba7b87d9bf9",
        "type": "inject",
        "z": "475803a65c8333af",
        "name": "request",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "3bc53d024113a9c2"
            ]
        ]
    },
    {
        "id": "20621dfed18924ca",
        "type": "debug",
        "z": "475803a65c8333af",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "fc71dcb2856ebf18",
        "type": "inject",
        "z": "475803a65c8333af",
        "name": "request",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 600,
        "wires": [
            [
                "b0c65d71333c2ca8"
            ]
        ]
    },
    {
        "id": "9ccaa0f49090a354",
        "type": "debug",
        "z": "475803a65c8333af",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 600,
        "wires": []
    },
    {
        "id": "b0c65d71333c2ca8",
        "type": "analytics-links-rest-api",
        "z": "475803a65c8333af",
        "service": "5fc78a0b4e0cc536",
        "method": "get_all",
        "post_alt_dataverse": "",
        "post_alt_dataverseType": "str",
        "post_alt_name": "",
        "post_alt_nameType": "str",
        "post_alt_type": "couchbase",
        "post_alt_typeType": "str",
        "post_alt_hostname": "",
        "post_alt_hostnameType": "str",
        "post_alt_encryption": "none",
        "post_alt_encryptionType": "str",
        "post_alt_username": "",
        "post_alt_usernameType": "str",
        "post_alt_password": "",
        "post_alt_passwordType": "str",
        "post_alt_certificate": "",
        "post_alt_certificateType": "str",
        "post_alt_clientCertificate": "",
        "post_alt_clientCertificateType": "str",
        "post_alt_clientKey": "",
        "post_alt_clientKeyType": "str",
        "post_alt_accessKeyId": "",
        "post_alt_accessKeyIdType": "str",
        "post_alt_secretAccessKey": "",
        "post_alt_secretAccessKeyType": "str",
        "post_alt_sessionToken": "",
        "post_alt_sessionTokenType": "str",
        "post_alt_region": "",
        "post_alt_regionType": "str",
        "post_alt_serviceEndpoint": "",
        "post_alt_serviceEndpointType": "str",
        "post_alt_accountName": "",
        "post_alt_accountNameType": "str",
        "post_alt_accountKey": "",
        "post_alt_accountKeyType": "str",
        "post_alt_sharedAccessSignature": "",
        "post_alt_sharedAccessSignatureType": "str",
        "post_alt_managedIdentityId": "",
        "post_alt_managedIdentityIdType": "str",
        "post_alt_clientId": "",
        "post_alt_clientIdType": "str",
        "post_alt_tenantId": "",
        "post_alt_tenantIdType": "str",
        "post_alt_clientSecret": "",
        "post_alt_clientSecretType": "str",
        "post_alt_clientCertificatePassword": "",
        "post_alt_clientCertificatePasswordType": "str",
        "post_alt_endpoint": "",
        "post_alt_endpointType": "str",
        "post_alt_applicationDefaultCredentials": "true",
        "post_alt_applicationDefaultCredentialsType": "str",
        "post_alt_jsonCredentials": "",
        "post_alt_jsonCredentialsType": "str",
        "get_all_dataverse": "",
        "get_all_dataverseType": "str",
        "get_all_name": "",
        "get_all_nameType": "str",
        "get_all_type": "couchbase",
        "get_all_typeType": "str",
        "put_alt_dataverse": "",
        "put_alt_dataverseType": "str",
        "put_alt_name": "",
        "put_alt_nameType": "str",
        "put_alt_type": "couchbase",
        "put_alt_typeType": "str",
        "put_alt_hostname": "",
        "put_alt_hostnameType": "str",
        "put_alt_encryption": "none",
        "put_alt_encryptionType": "str",
        "put_alt_username": "",
        "put_alt_usernameType": "str",
        "put_alt_password": "",
        "put_alt_passwordType": "str",
        "put_alt_certificate": "",
        "put_alt_certificateType": "str",
        "put_alt_clientCertificate": "",
        "put_alt_clientCertificateType": "str",
        "put_alt_clientKey": "",
        "put_alt_clientKeyType": "str",
        "put_alt_accessKeyId": "",
        "put_alt_accessKeyIdType": "str",
        "put_alt_secretAccessKey": "",
        "put_alt_secretAccessKeyType": "str",
        "put_alt_sessionToken": "",
        "put_alt_sessionTokenType": "str",
        "put_alt_region": "",
        "put_alt_regionType": "str",
        "put_alt_serviceEndpoint": "",
        "put_alt_serviceEndpointType": "str",
        "put_alt_accountName": "",
        "put_alt_accountNameType": "str",
        "put_alt_accountKey": "",
        "put_alt_accountKeyType": "str",
        "put_alt_sharedAccessSignature": "",
        "put_alt_sharedAccessSignatureType": "str",
        "put_alt_managedIdentityId": "",
        "put_alt_managedIdentityIdType": "str",
        "put_alt_clientId": "",
        "put_alt_clientIdType": "str",
        "put_alt_tenantId": "",
        "put_alt_tenantIdType": "str",
        "put_alt_clientSecret": "",
        "put_alt_clientSecretType": "str",
        "put_alt_clientCertificatePassword": "",
        "put_alt_clientCertificatePasswordType": "str",
        "put_alt_endpoint": "",
        "put_alt_endpointType": "str",
        "put_alt_applicationDefaultCredentials": "true",
        "put_alt_applicationDefaultCredentialsType": "str",
        "put_alt_jsonCredentials": "",
        "put_alt_jsonCredentialsType": "str",
        "delete_alt_dataverse": "",
        "delete_alt_dataverseType": "str",
        "delete_alt_name": "",
        "delete_alt_nameType": "str",
        "get_scope_scope": "",
        "get_scope_scopeType": "str",
        "get_scope_type": "couchbase",
        "get_scope_typeType": "str",
        "post_link_scope": "",
        "post_link_scopeType": "str",
        "post_link_name": "",
        "post_link_nameType": "str",
        "post_link_type": "couchbase",
        "post_link_typeType": "str",
        "post_link_hostname": "",
        "post_link_hostnameType": "str",
        "post_link_encryption": "none",
        "post_link_encryptionType": "str",
        "post_link_username": "",
        "post_link_usernameType": "str",
        "post_link_password": "",
        "post_link_passwordType": "str",
        "post_link_certificate": "",
        "post_link_certificateType": "str",
        "post_link_clientCertificate": "",
        "post_link_clientCertificateType": "str",
        "post_link_clientKey": "",
        "post_link_clientKeyType": "str",
        "post_link_accessKeyId": "",
        "post_link_accessKeyIdType": "str",
        "post_link_secretAccessKey": "",
        "post_link_secretAccessKeyType": "str",
        "post_link_sessionToken": "",
        "post_link_sessionTokenType": "str",
        "post_link_region": "",
        "post_link_regionType": "str",
        "post_link_serviceEndpoint": "",
        "post_link_serviceEndpointType": "str",
        "post_link_accountName": "",
        "post_link_accountNameType": "str",
        "post_link_accountKey": "",
        "post_link_accountKeyType": "str",
        "post_link_sharedAccessSignature": "",
        "post_link_sharedAccessSignatureType": "str",
        "post_link_managedIdentityId": "",
        "post_link_managedIdentityIdType": "str",
        "post_link_clientId": "",
        "post_link_clientIdType": "str",
        "post_link_tenantId": "",
        "post_link_tenantIdType": "str",
        "post_link_clientSecret": "",
        "post_link_clientSecretType": "str",
        "post_link_clientCertificatePassword": "",
        "post_link_clientCertificatePasswordType": "str",
        "post_link_endpoint": "",
        "post_link_endpointType": "str",
        "post_link_applicationDefaultCredentials": "true",
        "post_link_applicationDefaultCredentialsType": "str",
        "post_link_jsonCredentials": "",
        "post_link_jsonCredentialsType": "str",
        "get_link_scope": "",
        "get_link_scopeType": "str",
        "get_link_name": "",
        "get_link_nameType": "str",
        "get_link_type": "couchbase",
        "get_link_typeType": "str",
        "put_link_scope": "",
        "put_link_scopeType": "str",
        "put_link_name": "",
        "put_link_nameType": "str",
        "put_link_type": "couchbase",
        "put_link_typeType": "str",
        "put_link_hostname": "",
        "put_link_hostnameType": "str",
        "put_link_encryption": "none",
        "put_link_encryptionType": "str",
        "put_link_username": "",
        "put_link_usernameType": "str",
        "put_link_password": "",
        "put_link_passwordType": "str",
        "put_link_certificate": "",
        "put_link_certificateType": "str",
        "put_link_clientCertificate": "",
        "put_link_clientCertificateType": "str",
        "put_link_clientKey": "",
        "put_link_clientKeyType": "str",
        "put_link_accessKeyId": "",
        "put_link_accessKeyIdType": "str",
        "put_link_secretAccessKey": "",
        "put_link_secretAccessKeyType": "str",
        "put_link_sessionToken": "",
        "put_link_sessionTokenType": "str",
        "put_link_region": "",
        "put_link_regionType": "str",
        "put_link_serviceEndpoint": "",
        "put_link_serviceEndpointType": "str",
        "put_link_accountName": "",
        "put_link_accountNameType": "str",
        "put_link_accountKey": "",
        "put_link_accountKeyType": "str",
        "put_link_sharedAccessSignature": "",
        "put_link_sharedAccessSignatureType": "str",
        "put_link_managedIdentityId": "",
        "put_link_managedIdentityIdType": "str",
        "put_link_clientId": "",
        "put_link_clientIdType": "str",
        "put_link_tenantId": "",
        "put_link_tenantIdType": "str",
        "put_link_clientSecret": "",
        "put_link_clientSecretType": "str",
        "put_link_clientCertificatePassword": "",
        "put_link_clientCertificatePasswordType": "str",
        "put_link_endpoint": "",
        "put_link_endpointType": "str",
        "put_link_applicationDefaultCredentials": "true",
        "put_link_applicationDefaultCredentialsType": "str",
        "put_link_jsonCredentials": "",
        "put_link_jsonCredentialsType": "str",
        "delete_link_scope": "",
        "delete_link_scopeType": "str",
        "delete_link_name": "",
        "delete_link_nameType": "str",
        "name": "Analytics Links API",
        "x": 650,
        "y": 600,
        "wires": [
            [
                "9ccaa0f49090a354"
            ]
        ]
    },
    {
        "id": "83e725079fbf0f5f",
        "type": "debug",
        "z": "475803a65c8333af",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 720,
        "wires": []
    },
    {
        "id": "ac21351182fb3bdc",
        "type": "inject",
        "z": "475803a65c8333af",
        "name": "request",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 720,
        "wires": [
            [
                "6423d3c3023ebf04"
            ]
        ]
    },
    {
        "id": "0959b46473412aa1",
        "type": "inject",
        "z": "475803a65c8333af",
        "name": "request",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 840,
        "wires": [
            [
                "02d7df7d8df94b5c"
            ]
        ]
    },
    {
        "id": "2e7a256ae56639bf",
        "type": "debug",
        "z": "475803a65c8333af",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 840,
        "wires": []
    },
    {
        "id": "f1104dd288a9dbb1",
        "type": "inject",
        "z": "475803a65c8333af",
        "name": "request",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 960,
        "wires": [
            [
                "a4c57ce19f31a66b"
            ]
        ]
    },
    {
        "id": "c0d6aeae1e491dae",
        "type": "debug",
        "z": "475803a65c8333af",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 960,
        "wires": []
    },
    {
        "id": "da677fc6acb425fb",
        "type": "inject",
        "z": "475803a65c8333af",
        "name": "msg.payload.statement",
        "props": [
            {
                "p": "payload.statement",
                "v": "SELECT * FROM `travel-sample`.inventory.hotel LIMIT 2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 340,
        "y": 1080,
        "wires": [
            [
                "f18788c460019d3a"
            ]
        ]
    },
    {
        "id": "952abdc1e3ac3698",
        "type": "debug",
        "z": "475803a65c8333af",
        "name": "msg.payload.results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.results",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f18788c460019d3a",
        "type": "query-service-rest-api",
        "z": "475803a65c8333af",
        "service": "8b4961d529e4f3c4",
        "method": "post_service",
        "post_service_parameters": "payload",
        "post_service_parametersType": "msg",
        "name": "sql++ query",
        "x": 630,
        "y": 1080,
        "wires": [
            [
                "952abdc1e3ac3698"
            ]
        ]
    },
    {
        "id": "89d9b278eb352571",
        "type": "inject",
        "z": "475803a65c8333af",
        "name": "request",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 1200,
        "wires": [
            [
                "3d8882875b7760f7"
            ]
        ]
    },
    {
        "id": "675b6faabd79cd17",
        "type": "debug",
        "z": "475803a65c8333af",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d8b7c5cd93ce445e",
        "type": "comment",
        "z": "475803a65c8333af",
        "name": " This API enables you to retrieve statistics about the clusters and nodes running the Query service.",
        "info": "# Cluster Admin API\n\n[Official documentation](https://docs.couchbase.com/server/current/n1ql/n1ql-rest-api/admin.html)",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "cd85aaeead281116",
        "type": "comment",
        "z": "475803a65c8333af",
        "name": "These APIs enables you to manage and monitor the Analytics service.",
        "info": "# Analytics Admin API\n\n[Official documentation](https://docs.couchbase.com/server/current/analytics/rest-admin.html)",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "152e7c212c9354fb",
        "type": "comment",
        "z": "475803a65c8333af",
        "name": "This API enables you to configure Analytics nodes and clusters.",
        "info": "# Analytics Config API\n\n[Official documentation](https://docs.couchbase.com/server/current/analytics/rest-config.html)",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "7f8a767fd564eb42",
        "type": "comment",
        "z": "475803a65c8333af",
        "name": "This API enables you to configure Analytics nodes and clusters.",
        "info": "# Analytics Library API\n\n[Official documentation](https://docs.couchbase.com/server/current/analytics/rest-library.html)",
        "x": 450,
        "y": 440,
        "wires": []
    },
    {
        "id": "a845873f1c8c679f",
        "type": "comment",
        "z": "475803a65c8333af",
        "name": "This API enables you to manage the links to remote Couchbase clusters and external data sources.",
        "info": "# Analytics Links API\n\n[Official documentation](https://docs.couchbase.com/server/current/analytics/rest-links.html)",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "e255056d8b582a12",
        "type": "comment",
        "z": "475803a65c8333af",
        "name": "This API enables you to view or set cluster-level Analytics settings.",
        "info": "# Analytics Settings REST API\n\n[Official documentation](https://docs.couchbase.com/server/current/analytics/rest-settings.html)",
        "x": 460,
        "y": 680,
        "wires": []
    },
    {
        "id": "f3320ff64d39b65f",
        "type": "comment",
        "z": "475803a65c8333af",
        "name": " This API enables you to manage the JavaScript libraries and objects that are used to create {sqlpp} user-defined functions.",
        "info": "# Functions API\n\n[Official documentation](https://docs.couchbase.com/server/current/rest-api/rest-intro.html#javascript-management)",
        "x": 630,
        "y": 800,
        "wires": []
    },
    {
        "id": "2469012408858723",
        "type": "comment",
        "z": "475803a65c8333af",
        "name": "The Index Service REST API provides configuration options for the Index Service.",
        "info": "# Index Service API\n\n[Official documentation](https://docs.couchbase.com/server/current/rest-api/rest-intro.html#index-service-api)",
        "x": 500,
        "y": 920,
        "wires": []
    },
    {
        "id": "d03c735a149dfb7d",
        "type": "comment",
        "z": "475803a65c8333af",
        "name": "This method allows you to run queries and modifying statements, and specify query parameters.",
        "info": "# SQL++ Statement Execution\n\n[Official documentation](https://docs.couchbase.com/server/current/n1ql/n1ql-rest-api/index.html#_post_service)",
        "x": 550,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2ef74e719cae2179",
        "type": "comment",
        "z": "475803a65c8333af",
        "name": "This API enables you to view or specify cluster-level Query settings.",
        "info": "# Cluster Query Settings API\n\n[Official documentation](https://docs.couchbase.com/server/current/rest-api/rest-cluster-query-settings.html)",
        "x": 460,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2708c077f735ebf9",
        "type": "admin-rest-api-service",
        "host": "http://localhost:8093",
        "name": "Cluster Admin Auth"
    },
    {
        "id": "6e06d30bf3a8eb0d",
        "type": "analytics-administration-rest-apis-service",
        "host": "http://localhost:8095",
        "name": "Analytics Admin Auth"
    },
    {
        "id": "46b2a904e0438830",
        "type": "analytics-configuration-rest-api-service",
        "host": "http://localhost:8095",
        "name": "Admin Service Auth"
    },
    {
        "id": "532893adafd61cfe",
        "type": "analytics-library-rest-api-service",
        "host": "http://localhost:8095",
        "name": "Analytics Library Auth"
    },
    {
        "id": "760bb54ac0d91f4d",
        "type": "analytics-settings-rest-api-service",
        "host": "http://localhost:8091",
        "name": "Analytics Settings Auth"
    },
    {
        "id": "dea597afa5226e1a",
        "type": "functions-rest-api-service",
        "host": "http://localhost:8093",
        "name": "Index Functions Config"
    },
    {
        "id": "a711146a5094a31d",
        "type": "index-statistics-rest-api-service",
        "host": "http://localhost:9102",
        "name": "Index API Auth"
    },
    {
        "id": "ea6372ef830af581",
        "type": "query-settings-rest-api-service",
        "host": "http://localhost:8091",
        "name": "Query Settings Auth"
    },
    {
        "id": "5fc78a0b4e0cc536",
        "type": "analytics-links-rest-api-service",
        "host": "http://localhost:8095",
        "name": "Analytics Links Auth"
    },
    {
        "id": "8b4961d529e4f3c4",
        "type": "query-service-rest-api-service",
        "host": "http://localhost:8093",
        "secureApiKeyHeaderOrQueryName": "",
        "name": "Query Service Auth"
    }
]